<h1> Teams </h1>
<div class="team" ng-repeat="team in vm.teams" ng-click="vm.onTileClick(team)">
    <div class="teamTitle">
        <span ng-bind="team.name" class='teamName'>
    </div>
    <div>
        Scrum Master:
        <span ng-bind="team.scrumMaster"></span>
    </div>
    <div>
        PO:
        <span ng-bind="team.po"></span>
    </div>
    <div>
        Team Members
        <span ng-bind="team.noOfTeamMembers"></span>
    </div>
</div>