[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }

  .nav > li > a {
    display: block;
  }

  .team{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: cornflowerblue;
    margin: 21px;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
  }

  .teamTitle{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: fantasy;
  }
  .profileName{
    font-family: serif;
    color: #fff;
  }

  .manditory{
    color: red;
  }