﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pro - Client</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <div class="container-fluid" ng-controller="Main">
        <nav class="navbar navbar-inverse ng-clock" ng-clock>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Prowareness</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#!/team" ng-if="isAuthenticated()">Team</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-if="isAuthenticated()">
                            <span class="profileName" ng-bind="getUserObject('name')"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#!/register" ng-if="!isAuthenticated()">
                            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li>
                        <a href="#!/login" ng-if="!isAuthenticated()">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li>
                        <a ng-click="logout()" ng-if="isAuthenticated()" style="cursor: pointer">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
                    ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>

        </div>
        <div class="container">
            <hr>
            <footer class="footer pull-right">
                <div>
                    <a href="http://prowareness.nl/">Prowareness</a>
                    <div>Attendance Management System &copy; 2017 </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="app.js"></script>
    <script src="services/flash.service.js"></script>
    <script src="services/user.service.js"></script>
    <script src="features/home/home.controller.js"></script>
    <script src="features/login/login.controller.js"></script>
    <script src="features/register/register.controller.js"></script>
    <script src="features/team/team.controller.js"></script>
    <script src="features/teamAttendance/teamAttendance.controller.js"></script>
    <script src="main.js"></script>
    <script src="config/authInterceptor.js"></script>
    <script src="config/constants.js"></script>
    <script src="config/redirectionHandler.js"></script>
    <script src="config/route.js"></script>

</body>

</html>