﻿<div class=jumbotron jumbotron-fluid>
  <div class="container-fluid">
    <div class=" col-md-8 col-md-offset-2">
      <h1>Prowareness</h1>
      <h2>Attendance Management System for Calvi</h2>
    </div>
  </div>
</div>